name: Unit tests
on:
  pull_request:
  push:
    branches:
      - main

jobs:
  test:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Install uv
        uses: astral-sh/setup-uv@v5

      - name: Install dependencies
        run: uv sync

      - name: Lint
        run: uv run ruff check .

      - name: Run tests
        env:
          BLIZZARD_CLIENT_ID: "placeholder_id"
          BLIZZARD_CLIENT_SECRET: "placeholder_secret"
        run: uv run pytest
